In [1]:
import pandas as pd

# <font color = "orange">Series & Data Frames</font>

In [2]:
a = [10,9,56,7,3]
var = pd.Series(a)
print(var)
print(var[4])

0    10
1     9
2    56
3     7
4     3
dtype: int64
3

In [3]:
b = pd.Series([2,3,4], index = ['a','b','z'], dtype = float, name = "Aarya")
print(b)

a    2.0
b    3.0
z    4.0
Name: Aarya, dtype: float64

In [4]:
c = pd.Series([1,2,3,4,5,6,7])
d = pd.Series([1,2,3,4])

print(c+d)

0    2.0
1    4.0
2    6.0
3    8.0
4    NaN
5    NaN
6    NaN
dtype: float64

In [5]:
dic = {"name": ['Aarya','Ajita','Sanjeev','Nidhi'], "position": ['Daughter','Daughter','Father','Mother']}
print(dic)
print()
print(pd.Series(dic))

{'name': ['Aarya', 'Ajita', 'Sanjeev', 'Nidhi'], 'position': ['Daughter', 'Daughter', 'Father', 'Mother']}

name              [Aarya, Ajita, Sanjeev, Nidhi]
position    [Daughter, Daughter, Father, Mother]
dtype: object

In [6]:
e = [1,2,3,4,5,6,7]
dt = pd.DataFrame(e)
print(dt)

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  7

In [7]:
di = {"name": ['Aarya','Ajita','Sanjeev','Nidhi'], "position": ['Daughter','Daughter','Father','Mother']}
# Length of all data should be same
dt1 = pd.DataFrame(di)
print(dt1)

      name  position
0    Aarya  Daughter
1    Ajita  Daughter
2  Sanjeev    Father
3    Nidhi    Mother

In [8]:
d = {"name": ['Aarya','Ajita','Sanjeev','Nidhi'], "position": ['Daughter','Daughter','Father','Mother']}
# Length of all data should be same
dt2 = pd.DataFrame(d,columns= ['name'], index = ['a','b','c','d'])
dt3 = pd.DataFrame(d,columns = ['position'])
print(dt2)
print()
print(dt3)
print()
print(d['name'][3])

      name
a    Aarya
b    Ajita
c  Sanjeev
d    Nidhi

   position
0  Daughter
1  Daughter
2    Father
3    Mother

Nidhi

In [9]:
sen = {"s" : pd.Series([1,2,3,4,5]), "r":pd.Series([1,2,3,4,5])}
d2 = pd.DataFrame(sen)
print(d2)

   s  r
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5

In [10]:
d2["New_Column"] = d2["s"]<=2
d2["New_Column2"] = d2["r"]<=3
print(d2)

   s  r  New_Column  New_Column2
0  1  1        True         True
1  2  2        True         True
2  3  3       False         True
3  4  4       False        False
4  5  5       False        False

In [11]:
new_data = pd.DataFrame({"A": [1,2,3,4,5,6], "B": [1,2,3,4,5,6]})
print(new_data)
print()
new_data.insert(1,"insert_column",[4,5,6,7,7,8])
print(new_data)

   A  B
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5
5  6  6

   A  insert_column  B
0  1              4  1
1  2              5  2
2  3              6  3
3  4              7  4
4  5              7  5
5  6              8  6

In [12]:
print(new_data.pop("insert_column"))

0    4
1    5
2    6
3    7
4    7
5    8
Name: insert_column, dtype: int64

In [13]:
del new_data["A"]
print(new_data)

   B
0  1
1  2
2  3
3  4
4  5
5  6

# <font color = "orange">CSV</font>

In [14]:
new_df = pd.DataFrame({"Name": [1,2,3,4,5],"Age": [1,2,3,4,5],"Class": [1,2,3,4,5]})
new_df.to_csv("First.csv")

In [15]:
new_df2 = pd.DataFrame({"Name": [1,2,3,4,5],"Age": [1,2,3,4,5],"Class": [1,2,3,4,5]})
new_df2.to_csv("Second.csv", index = False)

In [16]:
new_df3 = pd.DataFrame({"Name": [1,2,3,4,5],"Age": [1,2,3,4,5],"Class": [1,2,3,4,5]})
new_df3.to_csv("Third.csv", index = False, header = ['a','b','c'])

In [17]:
new_df4 = pd.DataFrame({"Name": [1,2,3,4,5],"Age": [1,2,3,4,5],"Class": [1,2,3,4,5]})
new_df4.to_csv("Fourth.csv")

In [18]:
csv_1 = pd.read_csv("C:\\Users\\91988\\Desktop\\Example\\my_practice\\Fourth.csv")
csv_1

   Unnamed: 0  Name  Age  Class
0           0     1    1      1
1           1     2    2      2
2           2     3    3      3
3           3     4    4      4
4           4     5    5      5

In [19]:
csv_2 = pd.read_csv("C:\\Users\\91988\\Desktop\\Example\\my_practice\\Fourth.csv", nrows = 3)
csv_2

   Unnamed: 0  Name  Age  Class
0           0     1    1      1
1           1     2    2      2
2           2     3    3      3

In [20]:
csv_3 = pd.read_csv("C:\\Users\\91988\\Desktop\\Example\\my_practice\\Fourth.csv", usecols= [2])
csv_3

   Age
0    1
1    2
2    3
3    4
4    5

In [21]:
csv_4 = pd.read_csv("C:\\Users\\91988\\Desktop\\Example\\my_practice\\Fourth.csv", usecols= ["Age","Name"])
csv_4

   Name  Age
0     1    1
1     2    2
2     3    3
3     4    4
4     5    5

In [22]:
csv_5 = pd.read_csv("C:\\Users\\91988\\Desktop\\Example\\my_practice\\Fourth.csv", skiprows= [1,4,6,10])
csv_5

   Unnamed: 0  Name  Age  Class
0           1     2    2      2
1           2     3    3      3
2           4     5    5      5

In [23]:
csv_6 = pd.read_csv("C:\\Users\\91988\\Desktop\\Example\\my_practice\\Fourth.csv", index_col= ["Age"])
csv_6

     Unnamed: 0  Name  Class
Age
1             0     1      1
2             1     2      2
3             2     3      3
4             3     4      4
5             4     5      5

In [24]:
csv_7 = pd.read_csv("C:\\Users\\91988\\Desktop\\Example\\my_practice\\Fourth.csv", header= [2])
csv_7

   1  2  2.1  2.2
0  2  3    3    3
1  3  4    4    4
2  4  5    5    5

In [25]:
csv_8 = pd.read_csv("C:\\Users\\91988\\Desktop\\Example\\my_practice\\Fourth.csv", names= ["new_head","new_head1","new_head2","new_head3"])
csv_8

   new_head new_head1 new_head2 new_head3
0       NaN      Name       Age     Class
1       0.0         1         1         1
2       1.0         2         2         2
3       2.0         3         3         3
4       3.0         4         4         4
5       4.0         5         5         5

In [26]:
csv_9 = pd.read_csv("C:\\Users\\91988\\Desktop\\Example\\my_practice\\Fourth.csv", header= None)
csv_9

     0     1    2      3
0  NaN  Name  Age  Class
1  0.0     1    1      1
2  1.0     2    2      2
3  2.0     3    3      3
4  3.0     4    4      4
5  4.0     5    5      5

In [27]:
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva"],
    "Age": [23, 35, 45, 28, 22],
    "Occupation": ["Engineer", "Doctor", "Artist", "Engineer", "Scientist"],
    "Salary": [70000, 120000, 80000, 75000, 95000]
}

df = pd.DataFrame(data)
file_path = "C:\\Users\\91988\\Downloads\\sample_data.csv"
df.to_csv(file_path, index=False)
df

      Name  Age Occupation  Salary
0    Alice   23   Engineer   70000
1      Bob   35     Doctor  120000
2  Charlie   45     Artist   80000
3    David   28   Engineer   75000
4      Eva   22  Scientist   95000

In [28]:
df.index
df.columns

Index(['Name', 'Age', 'Occupation', 'Salary'], dtype='object')

In [29]:
df.head(2)

    Name  Age Occupation  Salary
0  Alice   23   Engineer   70000
1    Bob   35     Doctor  120000

In [30]:
df.tail(2)

    Name  Age Occupation  Salary
3  David   28   Engineer   75000
4    Eva   22  Scientist   95000

In [31]:
df.index.array

<NumpyExtensionArray>
[np.int64(0), np.int64(1), np.int64(2), np.int64(3), np.int64(4)]
Length: 5, dtype: int64

# loc and iloc

**loc** : loc gets rows (and/or columns) with particular labels. <br>
**iloc** : iloc gets rows (and/or columns) at integer locations.

In [32]:
df.loc[0,"Age"]="Python"
df

C:\Users\91988\AppData\Local\Temp\ipykernel_7940\2847743499.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Python' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[0,"Age"]="Python"

      Name     Age Occupation  Salary
0    Alice  Python   Engineer   70000
1      Bob      35     Doctor  120000
2  Charlie      45     Artist   80000
3    David      28   Engineer   75000
4      Eva      22  Scientist   95000

In [33]:
df.loc[[0,1],["Name","Age"]]

    Name     Age
0  Alice  Python
1    Bob      35

In [34]:
df.iloc[0, 1]

'Python'

# <font color = "orange">DropNa and Fillna</font>

In [35]:
imbd_csv = pd.read_csv("C:\\Users\\91988\\Downloads\\IMDB top 1000.csv", encoding='ISO-8859-1')
imbd_csv

,Unnamed: 0,Title,Certificate,Duration,Genre,Rate,Metascore,Description,Cast,Info
0,0.0,NaN,R,142 min,Drama,9.3,80.0,Two imprisoned men bond over a number of years...,"Director: Frank Darabont | Stars: Tim Robbins,...","Votes: 2,295,987 | Gross: $28.34M"
1,1.0,2. The Godfather (1972),R,175 min,NaN,9.2,100.0,The aging patriarch of an organized crime dyna...,Director: Francis Ford Coppola | Stars: Marlon...,"Votes: 1,584,782 | Gross: $134.97M"
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,NaN,R,202 min,"Crime, Drama",9.0,90.0,NaN,Director: Francis Ford Coppola | Stars: Al Pac...,"Votes: 1,107,253 | Gross: $57.30M"
4,4.0,5. The Lord of the Rings: The Return of the Ki...,PG-13,201 min,"Action, Adventure, Drama",8.9,94.0,Gandalf and Aragorn lead the World of Men agai...,"Director: Peter Jackson | Stars: Elijah Wood, ...","Votes: 1,614,369 | Gross: $377.85M"
...,...,...,...,...,...,...,...,...,...,...
995,995.0,398. Scent of a Woman (1992),R,156 min,Drama,8.0,NaN,A prep school student needing money agrees to ...,"Director: Martin Brest | Stars: Al Pacino, Chr...","Votes: 256,515 | Gross: $63.90M"
996,996.0,399. Aladdin (1992),G,90 min,"Animation, Adventure, Comedy",8.0,86.0,A kindhearted street urchin and a power-hungry...,"Directors: Ron Clements, John Musker | Stars: ...","Votes: 367,489 | Gross: $217.35M"
997,997.0,400. JFK (1991),R,189 min,"Drama, History, Thriller",8.0,72.0,New Orleans District Attorney Jim Garrison dis...,"Director: Oliver Stone | Stars: Kevin Costner,...","Votes: 139,634 | Gross: $70.41M"
998,998.0,301. Nights of Cabiria (1957),Not Rated,110 min,Drama,8.1,NaN,A waifish prostitute wanders the streets of Ro...,Director: Federico Fellini | Stars: Giulietta ...,"Votes: 42,160 | Gross: $0.75M"
999,999.0,302. Throne of Blood (1957),Not Rated,110 min,"Drama, History",8.1,NaN,"A war-hardened general, egged on by his ambiti...",Director: Akira Kurosawa | Stars: Toshirô Mifu...,"Votes: 45,579"

In [36]:
imbd_csv.dropna()

,Unnamed: 0,Title,Certificate,Duration,Genre,Rate,Metascore,Description,Cast,Info
4,4.0,5. The Lord of the Rings: The Return of the Ki...,PG-13,201 min,"Action, Adventure, Drama",8.9,94.0,Gandalf and Aragorn lead the World of Men agai...,"Director: Peter Jackson | Stars: Elijah Wood, ...","Votes: 1,614,369 | Gross: $377.85M"
5,5.0,6. Pulp Fiction (1994),R,154 min,"Crime, Drama",8.9,94.0,"The lives of two mob hitmen, a boxer, a gangst...",Director: Quentin Tarantino | Stars: John Trav...,"Votes: 1,792,919 | Gross: $107.93M"
6,6.0,7. Schindler's List (1993),R,195 min,"Biography, Drama, History",8.9,94.0,"In German-occupied Poland during World War II,...",Director: Steven Spielberg | Stars: Liam Neeso...,"Votes: 1,191,793 | Gross: $96.90M"
7,7.0,8. 12 Angry Men (1957),Approved,96 min,"Crime, Drama",8.9,96.0,A jury holdout attempts to prevent a miscarria...,"Director: Sidney Lumet | Stars: Henry Fonda, L...","Votes: 674,629 | Gross: $4.36M"
8,8.0,9. Inception (2010),PG-13,148 min,"Action, Adventure, Sci-Fi",8.8,74.0,A thief who steals corporate secrets through t...,Director: Christopher Nolan | Stars: Leonardo ...,"Votes: 2,022,655 | Gross: $292.58M"
...,...,...,...,...,...,...,...,...,...,...
991,991.0,394. Ghost in the Shell (1995),TV-MA,83 min,"Animation, Action, Crime",8.0,76.0,A cyborg policewoman and her partner hunt a my...,"Director: Mamoru Oshii | Stars: Atsuko Tanaka,...","Votes: 126,538 | Gross: $0.52M"
992,992.0,395. The Nightmare Before Christmas (1993),PG,76 min,"Animation, Family, Fantasy",8.0,82.0,"Jack Skellington, king of Halloween Town, disc...","Director: Henry Selick | Stars: Danny Elfman, ...","Votes: 288,364 | Gross: $75.08M"
993,993.0,396. Groundhog Day (1993),PG,101 min,"Comedy, Fantasy, Romance",8.0,72.0,A weatherman finds himself inexplicably living...,"Director: Harold Ramis | Stars: Bill Murray, A...","Votes: 571,642 | Gross: $70.91M"
996,996.0,399. Aladdin (1992),G,90 min,"Animation, Adventure, Comedy",8.0,86.0,A kindhearted street urchin and a power-hungry...,"Directors: Ron Clements, John Musker | Stars: ...","Votes: 367,489 | Gross: $217.35M"
997,997.0,400. JFK (1991),R,189 min,"Drama, History, Thriller",8.0,72.0,New Orleans District Attorney Jim Garrison dis...,"Director: Oliver Stone | Stars: Kevin Costner,...","Votes: 139,634 | Gross: $70.41M"

In [37]:
imbd_csv.dropna(axis = 1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[1000 rows x 0 columns]

In [38]:
imbd_csv.dropna(how = "any")

,Unnamed: 0,Title,Certificate,Duration,Genre,Rate,Metascore,Description,Cast,Info
4,4.0,5. The Lord of the Rings: The Return of the Ki...,PG-13,201 min,"Action, Adventure, Drama",8.9,94.0,Gandalf and Aragorn lead the World of Men agai...,"Director: Peter Jackson | Stars: Elijah Wood, ...","Votes: 1,614,369 | Gross: $377.85M"
5,5.0,6. Pulp Fiction (1994),R,154 min,"Crime, Drama",8.9,94.0,"The lives of two mob hitmen, a boxer, a gangst...",Director: Quentin Tarantino | Stars: John Trav...,"Votes: 1,792,919 | Gross: $107.93M"
6,6.0,7. Schindler's List (1993),R,195 min,"Biography, Drama, History",8.9,94.0,"In German-occupied Poland during World War II,...",Director: Steven Spielberg | Stars: Liam Neeso...,"Votes: 1,191,793 | Gross: $96.90M"
7,7.0,8. 12 Angry Men (1957),Approved,96 min,"Crime, Drama",8.9,96.0,A jury holdout attempts to prevent a miscarria...,"Director: Sidney Lumet | Stars: Henry Fonda, L...","Votes: 674,629 | Gross: $4.36M"
8,8.0,9. Inception (2010),PG-13,148 min,"Action, Adventure, Sci-Fi",8.8,74.0,A thief who steals corporate secrets through t...,Director: Christopher Nolan | Stars: Leonardo ...,"Votes: 2,022,655 | Gross: $292.58M"
...,...,...,...,...,...,...,...,...,...,...
991,991.0,394. Ghost in the Shell (1995),TV-MA,83 min,"Animation, Action, Crime",8.0,76.0,A cyborg policewoman and her partner hunt a my...,"Director: Mamoru Oshii | Stars: Atsuko Tanaka,...","Votes: 126,538 | Gross: $0.52M"
992,992.0,395. The Nightmare Before Christmas (1993),PG,76 min,"Animation, Family, Fantasy",8.0,82.0,"Jack Skellington, king of Halloween Town, disc...","Director: Henry Selick | Stars: Danny Elfman, ...","Votes: 288,364 | Gross: $75.08M"
993,993.0,396. Groundhog Day (1993),PG,101 min,"Comedy, Fantasy, Romance",8.0,72.0,A weatherman finds himself inexplicably living...,"Director: Harold Ramis | Stars: Bill Murray, A...","Votes: 571,642 | Gross: $70.91M"
996,996.0,399. Aladdin (1992),G,90 min,"Animation, Adventure, Comedy",8.0,86.0,A kindhearted street urchin and a power-hungry...,"Directors: Ron Clements, John Musker | Stars: ...","Votes: 367,489 | Gross: $217.35M"
997,997.0,400. JFK (1991),R,189 min,"Drama, History, Thriller",8.0,72.0,New Orleans District Attorney Jim Garrison dis...,"Director: Oliver Stone | Stars: Kevin Costner,...","Votes: 139,634 | Gross: $70.41M"

In [39]:
imbd_csv.dropna(how = "all")

,Unnamed: 0,Title,Certificate,Duration,Genre,Rate,Metascore,Description,Cast,Info
0,0.0,NaN,R,142 min,Drama,9.3,80.0,Two imprisoned men bond over a number of years...,"Director: Frank Darabont | Stars: Tim Robbins,...","Votes: 2,295,987 | Gross: $28.34M"
1,1.0,2. The Godfather (1972),R,175 min,NaN,9.2,100.0,The aging patriarch of an organized crime dyna...,Director: Francis Ford Coppola | Stars: Marlon...,"Votes: 1,584,782 | Gross: $134.97M"
3,3.0,NaN,R,202 min,"Crime, Drama",9.0,90.0,NaN,Director: Francis Ford Coppola | Stars: Al Pac...,"Votes: 1,107,253 | Gross: $57.30M"
4,4.0,5. The Lord of the Rings: The Return of the Ki...,PG-13,201 min,"Action, Adventure, Drama",8.9,94.0,Gandalf and Aragorn lead the World of Men agai...,"Director: Peter Jackson | Stars: Elijah Wood, ...","Votes: 1,614,369 | Gross: $377.85M"
5,5.0,6. Pulp Fiction (1994),R,154 min,"Crime, Drama",8.9,94.0,"The lives of two mob hitmen, a boxer, a gangst...",Director: Quentin Tarantino | Stars: John Trav...,"Votes: 1,792,919 | Gross: $107.93M"
...,...,...,...,...,...,...,...,...,...,...
995,995.0,398. Scent of a Woman (1992),R,156 min,Drama,8.0,NaN,A prep school student needing money agrees to ...,"Director: Martin Brest | Stars: Al Pacino, Chr...","Votes: 256,515 | Gross: $63.90M"
996,996.0,399. Aladdin (1992),G,90 min,"Animation, Adventure, Comedy",8.0,86.0,A kindhearted street urchin and a power-hungry...,"Directors: Ron Clements, John Musker | Stars: ...","Votes: 367,489 | Gross: $217.35M"
997,997.0,400. JFK (1991),R,189 min,"Drama, History, Thriller",8.0,72.0,New Orleans District Attorney Jim Garrison dis...,"Director: Oliver Stone | Stars: Kevin Costner,...","Votes: 139,634 | Gross: $70.41M"
998,998.0,301. Nights of Cabiria (1957),Not Rated,110 min,Drama,8.1,NaN,A waifish prostitute wanders the streets of Ro...,Director: Federico Fellini | Stars: Giulietta ...,"Votes: 42,160 | Gross: $0.75M"
999,999.0,302. Throne of Blood (1957),Not Rated,110 min,"Drama, History",8.1,NaN,"A war-hardened general, egged on by his ambiti...",Director: Akira Kurosawa | Stars: Toshirô Mifu...,"Votes: 45,579"

In [40]:
imbd_csv.dropna(subset = ["Genre"])

,Unnamed: 0,Title,Certificate,Duration,Genre,Rate,Metascore,Description,Cast,Info
0,0.0,NaN,R,142 min,Drama,9.3,80.0,Two imprisoned men bond over a number of years...,"Director: Frank Darabont | Stars: Tim Robbins,...","Votes: 2,295,987 | Gross: $28.34M"
3,3.0,NaN,R,202 min,"Crime, Drama",9.0,90.0,NaN,Director: Francis Ford Coppola | Stars: Al Pac...,"Votes: 1,107,253 | Gross: $57.30M"
4,4.0,5. The Lord of the Rings: The Return of the Ki...,PG-13,201 min,"Action, Adventure, Drama",8.9,94.0,Gandalf and Aragorn lead the World of Men agai...,"Director: Peter Jackson | Stars: Elijah Wood, ...","Votes: 1,614,369 | Gross: $377.85M"
5,5.0,6. Pulp Fiction (1994),R,154 min,"Crime, Drama",8.9,94.0,"The lives of two mob hitmen, a boxer, a gangst...",Director: Quentin Tarantino | Stars: John Trav...,"Votes: 1,792,919 | Gross: $107.93M"
6,6.0,7. Schindler's List (1993),R,195 min,"Biography, Drama, History",8.9,94.0,"In German-occupied Poland during World War II,...",Director: Steven Spielberg | Stars: Liam Neeso...,"Votes: 1,191,793 | Gross: $96.90M"
...,...,...,...,...,...,...,...,...,...,...
995,995.0,398. Scent of a Woman (1992),R,156 min,Drama,8.0,NaN,A prep school student needing money agrees to ...,"Director: Martin Brest | Stars: Al Pacino, Chr...","Votes: 256,515 | Gross: $63.90M"
996,996.0,399. Aladdin (1992),G,90 min,"Animation, Adventure, Comedy",8.0,86.0,A kindhearted street urchin and a power-hungry...,"Directors: Ron Clements, John Musker | Stars: ...","Votes: 367,489 | Gross: $217.35M"
997,997.0,400. JFK (1991),R,189 min,"Drama, History, Thriller",8.0,72.0,New Orleans District Attorney Jim Garrison dis...,"Director: Oliver Stone | Stars: Kevin Costner,...","Votes: 139,634 | Gross: $70.41M"
998,998.0,301. Nights of Cabiria (1957),Not Rated,110 min,Drama,8.1,NaN,A waifish prostitute wanders the streets of Ro...,Director: Federico Fellini | Stars: Giulietta ...,"Votes: 42,160 | Gross: $0.75M"
999,999.0,302. Throne of Blood (1957),Not Rated,110 min,"Drama, History",8.1,NaN,"A war-hardened general, egged on by his ambiti...",Director: Akira Kurosawa | Stars: Toshirô Mifu...,"Votes: 45,579"

In [41]:
# imbd_csv.dropna(inplace = True)
# imbd_csv

In [42]:
imbd_csv.dropna(thresh = 1)

,Unnamed: 0,Title,Certificate,Duration,Genre,Rate,Metascore,Description,Cast,Info
0,0.0,NaN,R,142 min,Drama,9.3,80.0,Two imprisoned men bond over a number of years...,"Director: Frank Darabont | Stars: Tim Robbins,...","Votes: 2,295,987 | Gross: $28.34M"
1,1.0,2. The Godfather (1972),R,175 min,NaN,9.2,100.0,The aging patriarch of an organized crime dyna...,Director: Francis Ford Coppola | Stars: Marlon...,"Votes: 1,584,782 | Gross: $134.97M"
3,3.0,NaN,R,202 min,"Crime, Drama",9.0,90.0,NaN,Director: Francis Ford Coppola | Stars: Al Pac...,"Votes: 1,107,253 | Gross: $57.30M"
4,4.0,5. The Lord of the Rings: The Return of the Ki...,PG-13,201 min,"Action, Adventure, Drama",8.9,94.0,Gandalf and Aragorn lead the World of Men agai...,"Director: Peter Jackson | Stars: Elijah Wood, ...","Votes: 1,614,369 | Gross: $377.85M"
5,5.0,6. Pulp Fiction (1994),R,154 min,"Crime, Drama",8.9,94.0,"The lives of two mob hitmen, a boxer, a gangst...",Director: Quentin Tarantino | Stars: John Trav...,"Votes: 1,792,919 | Gross: $107.93M"
...,...,...,...,...,...,...,...,...,...,...
995,995.0,398. Scent of a Woman (1992),R,156 min,Drama,8.0,NaN,A prep school student needing money agrees to ...,"Director: Martin Brest | Stars: Al Pacino, Chr...","Votes: 256,515 | Gross: $63.90M"
996,996.0,399. Aladdin (1992),G,90 min,"Animation, Adventure, Comedy",8.0,86.0,A kindhearted street urchin and a power-hungry...,"Directors: Ron Clements, John Musker | Stars: ...","Votes: 367,489 | Gross: $217.35M"
997,997.0,400. JFK (1991),R,189 min,"Drama, History, Thriller",8.0,72.0,New Orleans District Attorney Jim Garrison dis...,"Director: Oliver Stone | Stars: Kevin Costner,...","Votes: 139,634 | Gross: $70.41M"
998,998.0,301. Nights of Cabiria (1957),Not Rated,110 min,Drama,8.1,NaN,A waifish prostitute wanders the streets of Ro...,Director: Federico Fellini | Stars: Giulietta ...,"Votes: 42,160 | Gross: $0.75M"
999,999.0,302. Throne of Blood (1957),Not Rated,110 min,"Drama, History",8.1,NaN,"A war-hardened general, egged on by his ambiti...",Director: Akira Kurosawa | Stars: Toshirô Mifu...,"Votes: 45,579"

In [43]:
imbd_csv2 = pd.read_csv("C:\\Users\\91988\\Downloads\\IMDB top 1000 - Copy.csv", encoding='ISO-8859-1')
imbd_csv2

,Unnamed: 0,Title,Certificate,Duration,Genre,Rate,Metascore,Description,Cast,Info
0,0.0,NaN,R,142 min,Drama,9.3,80.0,Two imprisoned men bond over a number of years...,"Director: Frank Darabont | Stars: Tim Robbins,...","Votes: 2,295,987 | Gross: $28.34M"
1,1.0,2. The Godfather (1972),R,175 min,NaN,9.2,100.0,The aging patriarch of an organized crime dyna...,Director: Francis Ford Coppola | Stars: Marlon...,"Votes: 1,584,782 | Gross: $134.97M"
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,4. The Godfather: Part II (1974),NaN,202 min,"Crime, Drama",9.0,90.0,NaN,Director: Francis Ford Coppola | Stars: Al Pac...,"Votes: 1,107,253 | Gross: $57.30M"
4,4.0,5. The Lord of the Rings: The Return of the Ki...,PG-13,201 min,"Action, Adventure, Drama",8.9,94.0,Gandalf and Aragorn lead the World of Men agai...,"Director: Peter Jackson | Stars: Elijah Wood, ...","Votes: 1,614,369 | Gross: $377.85M"
...,...,...,...,...,...,...,...,...,...,...
995,995.0,398. Scent of a Woman (1992),R,156 min,Drama,8.0,NaN,A prep school student needing money agrees to ...,"Director: Martin Brest | Stars: Al Pacino, Chr...","Votes: 256,515 | Gross: $63.90M"
996,996.0,399. Aladdin (1992),G,90 min,"Animation, Adventure, Comedy",8.0,86.0,A kindhearted street urchin and a power-hungry...,"Directors: Ron Clements, John Musker | Stars: ...","Votes: 367,489 | Gross: $217.35M"
997,997.0,400. JFK (1991),R,189 min,"Drama, History, Thriller",8.0,72.0,New Orleans District Attorney Jim Garrison dis...,"Director: Oliver Stone | Stars: Kevin Costner,...","Votes: 139,634 | Gross: $70.41M"
998,998.0,301. Nights of Cabiria (1957),Not Rated,110 min,Drama,8.1,NaN,A waifish prostitute wanders the streets of Ro...,Director: Federico Fellini | Stars: Giulietta ...,"Votes: 42,160 | Gross: $0.75M"
999,999.0,302. Throne of Blood (1957),Not Rated,110 min,"Drama, History",8.1,NaN,"A war-hardened general, egged on by his ambiti...",Director: Akira Kurosawa | Stars: Toshirô Mifu...,"Votes: 45,579"

In [44]:
imbd_csv2.fillna("Python")

,Unnamed: 0,Title,Certificate,Duration,Genre,Rate,Metascore,Description,Cast,Info
0,0.0,Python,R,142 min,Drama,9.3,80.0,Two imprisoned men bond over a number of years...,"Director: Frank Darabont | Stars: Tim Robbins,...","Votes: 2,295,987 | Gross: $28.34M"
1,1.0,2. The Godfather (1972),R,175 min,Python,9.2,100.0,The aging patriarch of an organized crime dyna...,Director: Francis Ford Coppola | Stars: Marlon...,"Votes: 1,584,782 | Gross: $134.97M"
2,Python,Python,Python,Python,Python,Python,Python,Python,Python,Python
3,3.0,4. The Godfather: Part II (1974),Python,202 min,"Crime, Drama",9.0,90.0,Python,Director: Francis Ford Coppola | Stars: Al Pac...,"Votes: 1,107,253 | Gross: $57.30M"
4,4.0,5. The Lord of the Rings: The Return of the Ki...,PG-13,201 min,"Action, Adventure, Drama",8.9,94.0,Gandalf and Aragorn lead the World of Men agai...,"Director: Peter Jackson | Stars: Elijah Wood, ...","Votes: 1,614,369 | Gross: $377.85M"
...,...,...,...,...,...,...,...,...,...,...
995,995.0,398. Scent of a Woman (1992),R,156 min,Drama,8.0,Python,A prep school student needing money agrees to ...,"Director: Martin Brest | Stars: Al Pacino, Chr...","Votes: 256,515 | Gross: $63.90M"
996,996.0,399. Aladdin (1992),G,90 min,"Animation, Adventure, Comedy",8.0,86.0,A kindhearted street urchin and a power-hungry...,"Directors: Ron Clements, John Musker | Stars: ...","Votes: 367,489 | Gross: $217.35M"
997,997.0,400. JFK (1991),R,189 min,"Drama, History, Thriller",8.0,72.0,New Orleans District Attorney Jim Garrison dis...,"Director: Oliver Stone | Stars: Kevin Costner,...","Votes: 139,634 | Gross: $70.41M"
998,998.0,301. Nights of Cabiria (1957),Not Rated,110 min,Drama,8.1,Python,A waifish prostitute wanders the streets of Ro...,Director: Federico Fellini | Stars: Giulietta ...,"Votes: 42,160 | Gross: $0.75M"
999,999.0,302. Throne of Blood (1957),Not Rated,110 min,"Drama, History",8.1,Python,"A war-hardened general, egged on by his ambiti...",Director: Akira Kurosawa | Stars: Toshirô Mifu...,"Votes: 45,579"

In [45]:
imbd_csv2.fillna({"Title":"Python", "Genre": "Music"})

,Unnamed: 0,Title,Certificate,Duration,Genre,Rate,Metascore,Description,Cast,Info
0,0.0,Python,R,142 min,Drama,9.3,80.0,Two imprisoned men bond over a number of years...,"Director: Frank Darabont | Stars: Tim Robbins,...","Votes: 2,295,987 | Gross: $28.34M"
1,1.0,2. The Godfather (1972),R,175 min,Music,9.2,100.0,The aging patriarch of an organized crime dyna...,Director: Francis Ford Coppola | Stars: Marlon...,"Votes: 1,584,782 | Gross: $134.97M"
2,NaN,Python,NaN,NaN,Music,NaN,NaN,NaN,NaN,NaN
3,3.0,4. The Godfather: Part II (1974),NaN,202 min,"Crime, Drama",9.0,90.0,NaN,Director: Francis Ford Coppola | Stars: Al Pac...,"Votes: 1,107,253 | Gross: $57.30M"
4,4.0,5. The Lord of the Rings: The Return of the Ki...,PG-13,201 min,"Action, Adventure, Drama",8.9,94.0,Gandalf and Aragorn lead the World of Men agai...,"Director: Peter Jackson | Stars: Elijah Wood, ...","Votes: 1,614,369 | Gross: $377.85M"
...,...,...,...,...,...,...,...,...,...,...
995,995.0,398. Scent of a Woman (1992),R,156 min,Drama,8.0,NaN,A prep school student needing money agrees to ...,"Director: Martin Brest | Stars: Al Pacino, Chr...","Votes: 256,515 | Gross: $63.90M"
996,996.0,399. Aladdin (1992),G,90 min,"Animation, Adventure, Comedy",8.0,86.0,A kindhearted street urchin and a power-hungry...,"Directors: Ron Clements, John Musker | Stars: ...","Votes: 367,489 | Gross: $217.35M"
997,997.0,400. JFK (1991),R,189 min,"Drama, History, Thriller",8.0,72.0,New Orleans District Attorney Jim Garrison dis...,"Director: Oliver Stone | Stars: Kevin Costner,...","Votes: 139,634 | Gross: $70.41M"
998,998.0,301. Nights of Cabiria (1957),Not Rated,110 min,Drama,8.1,NaN,A waifish prostitute wanders the streets of Ro...,Director: Federico Fellini | Stars: Giulietta ...,"Votes: 42,160 | Gross: $0.75M"
999,999.0,302. Throne of Blood (1957),Not Rated,110 min,"Drama, History",8.1,NaN,"A war-hardened general, egged on by his ambiti...",Director: Akira Kurosawa | Stars: Toshirô Mifu...,"Votes: 45,579"

In [46]:
imbd_csv2.fillna(method="ffill")

C:\Users\91988\AppData\Local\Temp\ipykernel_7940\722231186.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  imbd_csv2.fillna(method="ffill")

,Unnamed: 0,Title,Certificate,Duration,Genre,Rate,Metascore,Description,Cast,Info
0,0.0,NaN,R,142 min,Drama,9.3,80.0,Two imprisoned men bond over a number of years...,"Director: Frank Darabont | Stars: Tim Robbins,...","Votes: 2,295,987 | Gross: $28.34M"
1,1.0,2. The Godfather (1972),R,175 min,Drama,9.2,100.0,The aging patriarch of an organized crime dyna...,Director: Francis Ford Coppola | Stars: Marlon...,"Votes: 1,584,782 | Gross: $134.97M"
2,1.0,2. The Godfather (1972),R,175 min,Drama,9.2,100.0,The aging patriarch of an organized crime dyna...,Director: Francis Ford Coppola | Stars: Marlon...,"Votes: 1,584,782 | Gross: $134.97M"
3,3.0,4. The Godfather: Part II (1974),R,202 min,"Crime, Drama",9.0,90.0,The aging patriarch of an organized crime dyna...,Director: Francis Ford Coppola | Stars: Al Pac...,"Votes: 1,107,253 | Gross: $57.30M"
4,4.0,5. The Lord of the Rings: The Return of the Ki...,PG-13,201 min,"Action, Adventure, Drama",8.9,94.0,Gandalf and Aragorn lead the World of Men agai...,"Director: Peter Jackson | Stars: Elijah Wood, ...","Votes: 1,614,369 | Gross: $377.85M"
...,...,...,...,...,...,...,...,...,...,...
995,995.0,398. Scent of a Woman (1992),R,156 min,Drama,8.0,72.0,A prep school student needing money agrees to ...,"Director: Martin Brest | Stars: Al Pacino, Chr...","Votes: 256,515 | Gross: $63.90M"
996,996.0,399. Aladdin (1992),G,90 min,"Animation, Adventure, Comedy",8.0,86.0,A kindhearted street urchin and a power-hungry...,"Directors: Ron Clements, John Musker | Stars: ...","Votes: 367,489 | Gross: $217.35M"
997,997.0,400. JFK (1991),R,189 min,"Drama, History, Thriller",8.0,72.0,New Orleans District Attorney Jim Garrison dis...,"Director: Oliver Stone | Stars: Kevin Costner,...","Votes: 139,634 | Gross: $70.41M"
998,998.0,301. Nights of Cabiria (1957),Not Rated,110 min,Drama,8.1,72.0,A waifish prostitute wanders the streets of Ro...,Director: Federico Fellini | Stars: Giulietta ...,"Votes: 42,160 | Gross: $0.75M"
999,999.0,302. Throne of Blood (1957),Not Rated,110 min,"Drama, History",8.1,72.0,"A war-hardened general, egged on by his ambiti...",Director: Akira Kurosawa | Stars: Toshirô Mifu...,"Votes: 45,579"

In [47]:
imbd_csv2.fillna(method = "bfill")

C:\Users\91988\AppData\Local\Temp\ipykernel_7940\2566928525.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  imbd_csv2.fillna(method = "bfill")

,Unnamed: 0,Title,Certificate,Duration,Genre,Rate,Metascore,Description,Cast,Info
0,0.0,2. The Godfather (1972),R,142 min,Drama,9.3,80.0,Two imprisoned men bond over a number of years...,"Director: Frank Darabont | Stars: Tim Robbins,...","Votes: 2,295,987 | Gross: $28.34M"
1,1.0,2. The Godfather (1972),R,175 min,"Crime, Drama",9.2,100.0,The aging patriarch of an organized crime dyna...,Director: Francis Ford Coppola | Stars: Marlon...,"Votes: 1,584,782 | Gross: $134.97M"
2,3.0,4. The Godfather: Part II (1974),PG-13,202 min,"Crime, Drama",9.0,90.0,Gandalf and Aragorn lead the World of Men agai...,Director: Francis Ford Coppola | Stars: Al Pac...,"Votes: 1,107,253 | Gross: $57.30M"
3,3.0,4. The Godfather: Part II (1974),PG-13,202 min,"Crime, Drama",9.0,90.0,Gandalf and Aragorn lead the World of Men agai...,Director: Francis Ford Coppola | Stars: Al Pac...,"Votes: 1,107,253 | Gross: $57.30M"
4,4.0,5. The Lord of the Rings: The Return of the Ki...,PG-13,201 min,"Action, Adventure, Drama",8.9,94.0,Gandalf and Aragorn lead the World of Men agai...,"Director: Peter Jackson | Stars: Elijah Wood, ...","Votes: 1,614,369 | Gross: $377.85M"
...,...,...,...,...,...,...,...,...,...,...
995,995.0,398. Scent of a Woman (1992),R,156 min,Drama,8.0,86.0,A prep school student needing money agrees to ...,"Director: Martin Brest | Stars: Al Pacino, Chr...","Votes: 256,515 | Gross: $63.90M"
996,996.0,399. Aladdin (1992),G,90 min,"Animation, Adventure, Comedy",8.0,86.0,A kindhearted street urchin and a power-hungry...,"Directors: Ron Clements, John Musker | Stars: ...","Votes: 367,489 | Gross: $217.35M"
997,997.0,400. JFK (1991),R,189 min,"Drama, History, Thriller",8.0,72.0,New Orleans District Attorney Jim Garrison dis...,"Director: Oliver Stone | Stars: Kevin Costner,...","Votes: 139,634 | Gross: $70.41M"
998,998.0,301. Nights of Cabiria (1957),Not Rated,110 min,Drama,8.1,NaN,A waifish prostitute wanders the streets of Ro...,Director: Federico Fellini | Stars: Giulietta ...,"Votes: 42,160 | Gross: $0.75M"
999,999.0,302. Throne of Blood (1957),Not Rated,110 min,"Drama, History",8.1,NaN,"A war-hardened general, egged on by his ambiti...",Director: Akira Kurosawa | Stars: Toshirô Mifu...,"Votes: 45,579"

In [48]:
imbd_csv2.fillna(method = "bfill",axis = 0)

C:\Users\91988\AppData\Local\Temp\ipykernel_7940\1219023253.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  imbd_csv2.fillna(method = "bfill",axis = 0)

,Unnamed: 0,Title,Certificate,Duration,Genre,Rate,Metascore,Description,Cast,Info
0,0.0,2. The Godfather (1972),R,142 min,Drama,9.3,80.0,Two imprisoned men bond over a number of years...,"Director: Frank Darabont | Stars: Tim Robbins,...","Votes: 2,295,987 | Gross: $28.34M"
1,1.0,2. The Godfather (1972),R,175 min,"Crime, Drama",9.2,100.0,The aging patriarch of an organized crime dyna...,Director: Francis Ford Coppola | Stars: Marlon...,"Votes: 1,584,782 | Gross: $134.97M"
2,3.0,4. The Godfather: Part II (1974),PG-13,202 min,"Crime, Drama",9.0,90.0,Gandalf and Aragorn lead the World of Men agai...,Director: Francis Ford Coppola | Stars: Al Pac...,"Votes: 1,107,253 | Gross: $57.30M"
3,3.0,4. The Godfather: Part II (1974),PG-13,202 min,"Crime, Drama",9.0,90.0,Gandalf and Aragorn lead the World of Men agai...,Director: Francis Ford Coppola | Stars: Al Pac...,"Votes: 1,107,253 | Gross: $57.30M"
4,4.0,5. The Lord of the Rings: The Return of the Ki...,PG-13,201 min,"Action, Adventure, Drama",8.9,94.0,Gandalf and Aragorn lead the World of Men agai...,"Director: Peter Jackson | Stars: Elijah Wood, ...","Votes: 1,614,369 | Gross: $377.85M"
...,...,...,...,...,...,...,...,...,...,...
995,995.0,398. Scent of a Woman (1992),R,156 min,Drama,8.0,86.0,A prep school student needing money agrees to ...,"Director: Martin Brest | Stars: Al Pacino, Chr...","Votes: 256,515 | Gross: $63.90M"
996,996.0,399. Aladdin (1992),G,90 min,"Animation, Adventure, Comedy",8.0,86.0,A kindhearted street urchin and a power-hungry...,"Directors: Ron Clements, John Musker | Stars: ...","Votes: 367,489 | Gross: $217.35M"
997,997.0,400. JFK (1991),R,189 min,"Drama, History, Thriller",8.0,72.0,New Orleans District Attorney Jim Garrison dis...,"Director: Oliver Stone | Stars: Kevin Costner,...","Votes: 139,634 | Gross: $70.41M"
998,998.0,301. Nights of Cabiria (1957),Not Rated,110 min,Drama,8.1,NaN,A waifish prostitute wanders the streets of Ro...,Director: Federico Fellini | Stars: Giulietta ...,"Votes: 42,160 | Gross: $0.75M"
999,999.0,302. Throne of Blood (1957),Not Rated,110 min,"Drama, History",8.1,NaN,"A war-hardened general, egged on by his ambiti...",Director: Akira Kurosawa | Stars: Toshirô Mifu...,"Votes: 45,579"

In [49]:
imbd_csv2.fillna(method = "bfill",axis = 1)

C:\Users\91988\AppData\Local\Temp\ipykernel_7940\2123242516.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  imbd_csv2.fillna(method = "bfill",axis = 1)
C:\Users\91988\AppData\Local\Temp\ipykernel_7940\2123242516.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  imbd_csv2.fillna(method = "bfill",axis = 1)

,Unnamed: 0,Title,Certificate,Duration,Genre,Rate,Metascore,Description,Cast,Info
0,0.0,R,R,142 min,Drama,9.3,80.0,Two imprisoned men bond over a number of years...,"Director: Frank Darabont | Stars: Tim Robbins,...","Votes: 2,295,987 | Gross: $28.34M"
1,1.0,2. The Godfather (1972),R,175 min,9.2,9.2,100.0,The aging patriarch of an organized crime dyna...,Director: Francis Ford Coppola | Stars: Marlon...,"Votes: 1,584,782 | Gross: $134.97M"
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,4. The Godfather: Part II (1974),202 min,202 min,"Crime, Drama",9.0,90.0,Director: Francis Ford Coppola | Stars: Al Pac...,Director: Francis Ford Coppola | Stars: Al Pac...,"Votes: 1,107,253 | Gross: $57.30M"
4,4.0,5. The Lord of the Rings: The Return of the Ki...,PG-13,201 min,"Action, Adventure, Drama",8.9,94.0,Gandalf and Aragorn lead the World of Men agai...,"Director: Peter Jackson | Stars: Elijah Wood, ...","Votes: 1,614,369 | Gross: $377.85M"
...,...,...,...,...,...,...,...,...,...,...
995,995.0,398. Scent of a Woman (1992),R,156 min,Drama,8.0,A prep school student needing money agrees to ...,A prep school student needing money agrees to ...,"Director: Martin Brest | Stars: Al Pacino, Chr...","Votes: 256,515 | Gross: $63.90M"
996,996.0,399. Aladdin (1992),G,90 min,"Animation, Adventure, Comedy",8.0,86.0,A kindhearted street urchin and a power-hungry...,"Directors: Ron Clements, John Musker | Stars: ...","Votes: 367,489 | Gross: $217.35M"
997,997.0,400. JFK (1991),R,189 min,"Drama, History, Thriller",8.0,72.0,New Orleans District Attorney Jim Garrison dis...,"Director: Oliver Stone | Stars: Kevin Costner,...","Votes: 139,634 | Gross: $70.41M"
998,998.0,301. Nights of Cabiria (1957),Not Rated,110 min,Drama,8.1,A waifish prostitute wanders the streets of Ro...,A waifish prostitute wanders the streets of Ro...,Director: Federico Fellini | Stars: Giulietta ...,"Votes: 42,160 | Gross: $0.75M"
999,999.0,302. Throne of Blood (1957),Not Rated,110 min,"Drama, History",8.1,"A war-hardened general, egged on by his ambiti...","A war-hardened general, egged on by his ambiti...",Director: Akira Kurosawa | Stars: Toshirô Mifu...,"Votes: 45,579"

In [50]:
# imbd_csv2.fillna(12,inplace = True)
# imbd_csv2

In [51]:
imbd_csv2.fillna("Python", limit=1)

,Unnamed: 0,Title,Certificate,Duration,Genre,Rate,Metascore,Description,Cast,Info
0,0.0,Python,R,142 min,Drama,9.3,80.0,Two imprisoned men bond over a number of years...,"Director: Frank Darabont | Stars: Tim Robbins,...","Votes: 2,295,987 | Gross: $28.34M"
1,1.0,2. The Godfather (1972),R,175 min,Python,9.2,100.0,The aging patriarch of an organized crime dyna...,Director: Francis Ford Coppola | Stars: Marlon...,"Votes: 1,584,782 | Gross: $134.97M"
2,Python,NaN,Python,Python,NaN,Python,Python,Python,Python,Python
3,3.0,4. The Godfather: Part II (1974),NaN,202 min,"Crime, Drama",9.0,90.0,NaN,Director: Francis Ford Coppola | Stars: Al Pac...,"Votes: 1,107,253 | Gross: $57.30M"
4,4.0,5. The Lord of the Rings: The Return of the Ki...,PG-13,201 min,"Action, Adventure, Drama",8.9,94.0,Gandalf and Aragorn lead the World of Men agai...,"Director: Peter Jackson | Stars: Elijah Wood, ...","Votes: 1,614,369 | Gross: $377.85M"
...,...,...,...,...,...,...,...,...,...,...
995,995.0,398. Scent of a Woman (1992),R,156 min,Drama,8.0,NaN,A prep school student needing money agrees to ...,"Director: Martin Brest | Stars: Al Pacino, Chr...","Votes: 256,515 | Gross: $63.90M"
996,996.0,399. Aladdin (1992),G,90 min,"Animation, Adventure, Comedy",8.0,86.0,A kindhearted street urchin and a power-hungry...,"Directors: Ron Clements, John Musker | Stars: ...","Votes: 367,489 | Gross: $217.35M"
997,997.0,400. JFK (1991),R,189 min,"Drama, History, Thriller",8.0,72.0,New Orleans District Attorney Jim Garrison dis...,"Director: Oliver Stone | Stars: Kevin Costner,...","Votes: 139,634 | Gross: $70.41M"
998,998.0,301. Nights of Cabiria (1957),Not Rated,110 min,Drama,8.1,NaN,A waifish prostitute wanders the streets of Ro...,Director: Federico Fellini | Stars: Giulietta ...,"Votes: 42,160 | Gross: $0.75M"
999,999.0,302. Throne of Blood (1957),Not Rated,110 min,"Drama, History",8.1,NaN,"A war-hardened general, egged on by his ambiti...",Director: Akira Kurosawa | Stars: Toshirô Mifu...,"Votes: 45,579"

In [56]:
csv3 = pd.read_csv("C:\\Users\\91988\\Downloads\\kaggle-preprocessed.csv", encoding='ISO-8859-1')
csv3

,Unnamed: 0,Dataset_name,Author_name,Author_id,No_of_files,size,Type_of_file,Upvotes,Medals,Usability,Date,Day,Time
0,0,Hotel Reservations Dataset,Ahsan Raza,https://www.kaggle.com/ahsan81,1,491 kB,CSV,315,Silver,10.0,01-04-2023,Wed,18:20:31
1,2,Most Subscribed 1000 Youtube Channels,Mrityunjay Pathak,https://www.kaggle.com/themrityunjaypathak,1,29 kB,CSV,76,Bronze,10.0,1/21/2023,Sat,20:12:05
2,3,Olympics 124 years Dataset(till 2020),Nitish Sharma01,https://www.kaggle.com/nitishsharma01,3,5 MB,CSV,30,Bronze,10.0,02-01-2023,Wed,14:30:49
3,4,Medical Student Mental Health,The Devastator,https://www.kaggle.com/thedevastator,2,19 kB,CSV,37,Bronze,10.0,1/25/2023,Wed,6:30:14
4,5,Latest Netflix TV shows and movies,Senapati Rajesh,https://www.kaggle.com/senapatirajesh,1,1 MB,CSV,94,Bronze,9.4,1/14/2023,Sat,22:33:12
5,6,Predicting Credit Card Customer Segmentation,The Devastator,https://www.kaggle.com/thedevastator,1,388 kB,CSV,41,Bronze,10.0,1/15/2023,Sun,20:57:38
6,7,Most Watched Stocks of Past Decade(2013-2023),Abdullah,https://www.kaggle.com/kane6543,30,2 MB,CSV,33,Bronze,10.0,1/30/2023,Mon,20:42:25
7,8,Amazon Sales Dataset,KARKAVELRAJA J,https://www.kaggle.com/karkavelrajaj,1,2 MB,CSV,65,Bronze,10.0,1/17/2023,Tue,11:51:15
8,9,US Film Industry Top Movies & Directors,The Devastator,https://www.kaggle.com/thedevastator,4,222 kB,"CSV, other",24,No Medal,10.0,1/22/2023,Sun,14:27:44
9,10,CEO vs Worker Pay in Top 3000 US Companies [2023],Widya Salim,https://www.kaggle.com/salimwid,4,188 kB,CSV,26,Bronze,10.0,02-02-2023,Thu,15:14:56
10,11,New Cars USA 2022/23 dataset,Tymoteusz Urban,https://www.kaggle.com/tymekurban,1,113 kB,CSV,27,Bronze,10.0,1/19/2023,Thu,17:39:19
11,12,Salary Dataset - Simple linear regression,Allena,https://www.kaggle.com/abhishek14398,1,457 B,CSV,54,Bronze,10.0,01-10-2023,Tue,9:25:40
12,13,Technology Company Layoffs (2022-2023),Widya Salim,https://www.kaggle.com/salimwid,1,13 kB,CSV,42,Bronze,10.0,1/24/2023,Tue,12:37:51
13,14,Predict students' dropout and academic success,The Devastator,https://www.kaggle.com/thedevastator,1,89 kB,CSV,81,Bronze,10.0,01-03-2023,Tue,14:48:54
14,15,FIFA World Cup 2022 Players Statistics,Rhugved Bhojane,https://www.kaggle.com/rhugvedbhojane,2,100 kB,"CSV, other",32,Bronze,8.2,1/28/2023,Sat,1:57:08
15,16,Car Price,Karim Abdulnabi,https://www.kaggle.com/karimabdulnabi,1,51 kB,CSV,25,Bronze,10.0,1/29/2023,Sun,4:39:39
16,17,Home Loan Approval,Rushikesh Konapure,https://www.kaggle.com/rishikeshkonapure,2,13 kB,CSV,61,Bronze,10.0,01-12-2023,Thu,11:58:57
17,18,Spotify Top 10000 Streamed Songs,Rakkesh Aravind G,https://www.kaggle.com/rakkesharv,1,287 kB,CSV,94,Bronze,10.0,01-02-2023,Mon,13:47:15
18,19,Dogs Intelligence and Size,The Devastator,https://www.kaggle.com/thedevastator,2,4 kB,CSV,47,Bronze,9.4,1/22/2023,Sun,3:39:31
19,20,??Startup Success/Fail Dataset from Crunchbase,yan maksi,https://www.kaggle.com/yanmaksi,1,3 MB,CSV,38,Bronze,10.0,1/23/2023,Mon,0:44:28

In [58]:
csv3.replace(to_replace=1, value = "Name")

,Unnamed: 0,Dataset_name,Author_name,Author_id,No_of_files,size,Type_of_file,Upvotes,Medals,Usability,Date,Day,Time
0,0,Hotel Reservations Dataset,Ahsan Raza,https://www.kaggle.com/ahsan81,Name,491 kB,CSV,315,Silver,10.0,01-04-2023,Wed,18:20:31
1,2,Most Subscribed 1000 Youtube Channels,Mrityunjay Pathak,https://www.kaggle.com/themrityunjaypathak,Name,29 kB,CSV,76,Bronze,10.0,1/21/2023,Sat,20:12:05
2,3,Olympics 124 years Dataset(till 2020),Nitish Sharma01,https://www.kaggle.com/nitishsharma01,3,5 MB,CSV,30,Bronze,10.0,02-01-2023,Wed,14:30:49
3,4,Medical Student Mental Health,The Devastator,https://www.kaggle.com/thedevastator,2,19 kB,CSV,37,Bronze,10.0,1/25/2023,Wed,6:30:14
4,5,Latest Netflix TV shows and movies,Senapati Rajesh,https://www.kaggle.com/senapatirajesh,Name,1 MB,CSV,94,Bronze,9.4,1/14/2023,Sat,22:33:12
5,6,Predicting Credit Card Customer Segmentation,The Devastator,https://www.kaggle.com/thedevastator,Name,388 kB,CSV,41,Bronze,10.0,1/15/2023,Sun,20:57:38
6,7,Most Watched Stocks of Past Decade(2013-2023),Abdullah,https://www.kaggle.com/kane6543,30,2 MB,CSV,33,Bronze,10.0,1/30/2023,Mon,20:42:25
7,8,Amazon Sales Dataset,KARKAVELRAJA J,https://www.kaggle.com/karkavelrajaj,Name,2 MB,CSV,65,Bronze,10.0,1/17/2023,Tue,11:51:15
8,9,US Film Industry Top Movies & Directors,The Devastator,https://www.kaggle.com/thedevastator,4,222 kB,"CSV, other",24,No Medal,10.0,1/22/2023,Sun,14:27:44
9,10,CEO vs Worker Pay in Top 3000 US Companies [2023],Widya Salim,https://www.kaggle.com/salimwid,4,188 kB,CSV,26,Bronze,10.0,02-02-2023,Thu,15:14:56
10,11,New Cars USA 2022/23 dataset,Tymoteusz Urban,https://www.kaggle.com/tymekurban,Name,113 kB,CSV,27,Bronze,10.0,1/19/2023,Thu,17:39:19
11,12,Salary Dataset - Simple linear regression,Allena,https://www.kaggle.com/abhishek14398,Name,457 B,CSV,54,Bronze,10.0,01-10-2023,Tue,9:25:40
12,13,Technology Company Layoffs (2022-2023),Widya Salim,https://www.kaggle.com/salimwid,Name,13 kB,CSV,42,Bronze,10.0,1/24/2023,Tue,12:37:51
13,14,Predict students' dropout and academic success,The Devastator,https://www.kaggle.com/thedevastator,Name,89 kB,CSV,81,Bronze,10.0,01-03-2023,Tue,14:48:54
14,15,FIFA World Cup 2022 Players Statistics,Rhugved Bhojane,https://www.kaggle.com/rhugvedbhojane,2,100 kB,"CSV, other",32,Bronze,8.2,1/28/2023,Sat,1:57:08
15,16,Car Price,Karim Abdulnabi,https://www.kaggle.com/karimabdulnabi,Name,51 kB,CSV,25,Bronze,10.0,1/29/2023,Sun,4:39:39
16,17,Home Loan Approval,Rushikesh Konapure,https://www.kaggle.com/rishikeshkonapure,2,13 kB,CSV,61,Bronze,10.0,01-12-2023,Thu,11:58:57
17,18,Spotify Top 10000 Streamed Songs,Rakkesh Aravind G,https://www.kaggle.com/rakkesharv,Name,287 kB,CSV,94,Bronze,10.0,01-02-2023,Mon,13:47:15
18,19,Dogs Intelligence and Size,The Devastator,https://www.kaggle.com/thedevastator,2,4 kB,CSV,47,Bronze,9.4,1/22/2023,Sun,3:39:31
19,20,??Startup Success/Fail Dataset from Crunchbase,yan maksi,https://www.kaggle.com/yanmaksi,Name,3 MB,CSV,38,Bronze,10.0,1/23/2023,Mon,0:44:28

In [59]:
csv3.replace(to_replace="CSV", value = "File")

,Unnamed: 0,Dataset_name,Author_name,Author_id,No_of_files,size,Type_of_file,Upvotes,Medals,Usability,Date,Day,Time
0,0,Hotel Reservations Dataset,Ahsan Raza,https://www.kaggle.com/ahsan81,1,491 kB,File,315,Silver,10.0,01-04-2023,Wed,18:20:31
1,2,Most Subscribed 1000 Youtube Channels,Mrityunjay Pathak,https://www.kaggle.com/themrityunjaypathak,1,29 kB,File,76,Bronze,10.0,1/21/2023,Sat,20:12:05
2,3,Olympics 124 years Dataset(till 2020),Nitish Sharma01,https://www.kaggle.com/nitishsharma01,3,5 MB,File,30,Bronze,10.0,02-01-2023,Wed,14:30:49
3,4,Medical Student Mental Health,The Devastator,https://www.kaggle.com/thedevastator,2,19 kB,File,37,Bronze,10.0,1/25/2023,Wed,6:30:14
4,5,Latest Netflix TV shows and movies,Senapati Rajesh,https://www.kaggle.com/senapatirajesh,1,1 MB,File,94,Bronze,9.4,1/14/2023,Sat,22:33:12
5,6,Predicting Credit Card Customer Segmentation,The Devastator,https://www.kaggle.com/thedevastator,1,388 kB,File,41,Bronze,10.0,1/15/2023,Sun,20:57:38
6,7,Most Watched Stocks of Past Decade(2013-2023),Abdullah,https://www.kaggle.com/kane6543,30,2 MB,File,33,Bronze,10.0,1/30/2023,Mon,20:42:25
7,8,Amazon Sales Dataset,KARKAVELRAJA J,https://www.kaggle.com/karkavelrajaj,1,2 MB,File,65,Bronze,10.0,1/17/2023,Tue,11:51:15
8,9,US Film Industry Top Movies & Directors,The Devastator,https://www.kaggle.com/thedevastator,4,222 kB,"CSV, other",24,No Medal,10.0,1/22/2023,Sun,14:27:44
9,10,CEO vs Worker Pay in Top 3000 US Companies [2023],Widya Salim,https://www.kaggle.com/salimwid,4,188 kB,File,26,Bronze,10.0,02-02-2023,Thu,15:14:56
10,11,New Cars USA 2022/23 dataset,Tymoteusz Urban,https://www.kaggle.com/tymekurban,1,113 kB,File,27,Bronze,10.0,1/19/2023,Thu,17:39:19
11,12,Salary Dataset - Simple linear regression,Allena,https://www.kaggle.com/abhishek14398,1,457 B,File,54,Bronze,10.0,01-10-2023,Tue,9:25:40
12,13,Technology Company Layoffs (2022-2023),Widya Salim,https://www.kaggle.com/salimwid,1,13 kB,File,42,Bronze,10.0,1/24/2023,Tue,12:37:51
13,14,Predict students' dropout and academic success,The Devastator,https://www.kaggle.com/thedevastator,1,89 kB,File,81,Bronze,10.0,01-03-2023,Tue,14:48:54
14,15,FIFA World Cup 2022 Players Statistics,Rhugved Bhojane,https://www.kaggle.com/rhugvedbhojane,2,100 kB,"CSV, other",32,Bronze,8.2,1/28/2023,Sat,1:57:08
15,16,Car Price,Karim Abdulnabi,https://www.kaggle.com/karimabdulnabi,1,51 kB,File,25,Bronze,10.0,1/29/2023,Sun,4:39:39
16,17,Home Loan Approval,Rushikesh Konapure,https://www.kaggle.com/rishikeshkonapure,2,13 kB,File,61,Bronze,10.0,01-12-2023,Thu,11:58:57
17,18,Spotify Top 10000 Streamed Songs,Rakkesh Aravind G,https://www.kaggle.com/rakkesharv,1,287 kB,File,94,Bronze,10.0,01-02-2023,Mon,13:47:15
18,19,Dogs Intelligence and Size,The Devastator,https://www.kaggle.com/thedevastator,2,4 kB,File,47,Bronze,9.4,1/22/2023,Sun,3:39:31
19,20,??Startup Success/Fail Dataset from Crunchbase,yan maksi,https://www.kaggle.com/yanmaksi,1,3 MB,File,38,Bronze,10.0,1/23/2023,Mon,0:44:28

In [60]:
csv3.replace([1,2,3,4,5,6,7,8,9,10], "replaced")

,Unnamed: 0,Dataset_name,Author_name,Author_id,No_of_files,size,Type_of_file,Upvotes,Medals,Usability,Date,Day,Time
0,0,Hotel Reservations Dataset,Ahsan Raza,https://www.kaggle.com/ahsan81,replaced,491 kB,CSV,315,Silver,replaced,01-04-2023,Wed,18:20:31
1,replaced,Most Subscribed 1000 Youtube Channels,Mrityunjay Pathak,https://www.kaggle.com/themrityunjaypathak,replaced,29 kB,CSV,76,Bronze,replaced,1/21/2023,Sat,20:12:05
2,replaced,Olympics 124 years Dataset(till 2020),Nitish Sharma01,https://www.kaggle.com/nitishsharma01,replaced,5 MB,CSV,30,Bronze,replaced,02-01-2023,Wed,14:30:49
3,replaced,Medical Student Mental Health,The Devastator,https://www.kaggle.com/thedevastator,replaced,19 kB,CSV,37,Bronze,replaced,1/25/2023,Wed,6:30:14
4,replaced,Latest Netflix TV shows and movies,Senapati Rajesh,https://www.kaggle.com/senapatirajesh,replaced,1 MB,CSV,94,Bronze,9.4,1/14/2023,Sat,22:33:12
5,replaced,Predicting Credit Card Customer Segmentation,The Devastator,https://www.kaggle.com/thedevastator,replaced,388 kB,CSV,41,Bronze,replaced,1/15/2023,Sun,20:57:38
6,replaced,Most Watched Stocks of Past Decade(2013-2023),Abdullah,https://www.kaggle.com/kane6543,30,2 MB,CSV,33,Bronze,replaced,1/30/2023,Mon,20:42:25
7,replaced,Amazon Sales Dataset,KARKAVELRAJA J,https://www.kaggle.com/karkavelrajaj,replaced,2 MB,CSV,65,Bronze,replaced,1/17/2023,Tue,11:51:15
8,replaced,US Film Industry Top Movies & Directors,The Devastator,https://www.kaggle.com/thedevastator,replaced,222 kB,"CSV, other",24,No Medal,replaced,1/22/2023,Sun,14:27:44
9,replaced,CEO vs Worker Pay in Top 3000 US Companies [2023],Widya Salim,https://www.kaggle.com/salimwid,replaced,188 kB,CSV,26,Bronze,replaced,02-02-2023,Thu,15:14:56
10,11,New Cars USA 2022/23 dataset,Tymoteusz Urban,https://www.kaggle.com/tymekurban,replaced,113 kB,CSV,27,Bronze,replaced,1/19/2023,Thu,17:39:19
11,12,Salary Dataset - Simple linear regression,Allena,https://www.kaggle.com/abhishek14398,replaced,457 B,CSV,54,Bronze,replaced,01-10-2023,Tue,9:25:40
12,13,Technology Company Layoffs (2022-2023),Widya Salim,https://www.kaggle.com/salimwid,replaced,13 kB,CSV,42,Bronze,replaced,1/24/2023,Tue,12:37:51
13,14,Predict students' dropout and academic success,The Devastator,https://www.kaggle.com/thedevastator,replaced,89 kB,CSV,81,Bronze,replaced,01-03-2023,Tue,14:48:54
14,15,FIFA World Cup 2022 Players Statistics,Rhugved Bhojane,https://www.kaggle.com/rhugvedbhojane,replaced,100 kB,"CSV, other",32,Bronze,8.2,1/28/2023,Sat,1:57:08
15,16,Car Price,Karim Abdulnabi,https://www.kaggle.com/karimabdulnabi,replaced,51 kB,CSV,25,Bronze,replaced,1/29/2023,Sun,4:39:39
16,17,Home Loan Approval,Rushikesh Konapure,https://www.kaggle.com/rishikeshkonapure,replaced,13 kB,CSV,61,Bronze,replaced,01-12-2023,Thu,11:58:57
17,18,Spotify Top 10000 Streamed Songs,Rakkesh Aravind G,https://www.kaggle.com/rakkesharv,replaced,287 kB,CSV,94,Bronze,replaced,01-02-2023,Mon,13:47:15
18,19,Dogs Intelligence and Size,The Devastator,https://www.kaggle.com/thedevastator,replaced,4 kB,CSV,47,Bronze,9.4,1/22/2023,Sun,3:39:31
19,20,??Startup Success/Fail Dataset from Crunchbase,yan maksi,https://www.kaggle.com/yanmaksi,replaced,3 MB,CSV,38,Bronze,replaced,1/23/2023,Mon,0:44:28

In [62]:
csv3.replace("[A-Za-z]","Aarya", regex=True)

,Unnamed: 0,Dataset_name,Author_name,Author_id,No_of_files,size,Type_of_file,Upvotes,Medals,Usability,Date,Day,Time
0,0,AaryaAaryaAaryaAaryaAarya AaryaAaryaAaryaAarya...,AaryaAaryaAaryaAaryaAarya AaryaAaryaAaryaAarya,AaryaAaryaAaryaAaryaAarya://AaryaAaryaAarya.Aa...,1,491 AaryaAarya,AaryaAaryaAarya,315,AaryaAaryaAaryaAaryaAaryaAarya,10.0,01-04-2023,AaryaAaryaAarya,18:20:31
1,2,AaryaAaryaAaryaAarya AaryaAaryaAaryaAaryaAarya...,AaryaAaryaAaryaAaryaAaryaAaryaAaryaAaryaAaryaA...,AaryaAaryaAaryaAaryaAarya://AaryaAaryaAarya.Aa...,1,29 AaryaAarya,AaryaAaryaAarya,76,AaryaAaryaAaryaAaryaAaryaAarya,10.0,1/21/2023,AaryaAaryaAarya,20:12:05
2,3,AaryaAaryaAaryaAaryaAaryaAaryaAaryaAarya 124 A...,AaryaAaryaAaryaAaryaAaryaAarya AaryaAaryaAarya...,AaryaAaryaAaryaAaryaAarya://AaryaAaryaAarya.Aa...,3,5 AaryaAarya,AaryaAaryaAarya,30,AaryaAaryaAaryaAaryaAaryaAarya,10.0,02-01-2023,AaryaAaryaAarya,14:30:49
3,4,AaryaAaryaAaryaAaryaAaryaAaryaAarya AaryaAarya...,AaryaAaryaAarya AaryaAaryaAaryaAaryaAaryaAarya...,AaryaAaryaAaryaAaryaAarya://AaryaAaryaAarya.Aa...,2,19 AaryaAarya,AaryaAaryaAarya,37,AaryaAaryaAaryaAaryaAaryaAarya,10.0,1/25/2023,AaryaAaryaAarya,6:30:14
4,5,AaryaAaryaAaryaAaryaAaryaAarya AaryaAaryaAarya...,AaryaAaryaAaryaAaryaAaryaAaryaAaryaAarya Aarya...,AaryaAaryaAaryaAaryaAarya://AaryaAaryaAarya.Aa...,1,1 AaryaAarya,AaryaAaryaAarya,94,AaryaAaryaAaryaAaryaAaryaAarya,9.4,1/14/2023,AaryaAaryaAarya,22:33:12
5,6,AaryaAaryaAaryaAaryaAaryaAaryaAaryaAaryaAaryaA...,AaryaAaryaAarya AaryaAaryaAaryaAaryaAaryaAarya...,AaryaAaryaAaryaAaryaAarya://AaryaAaryaAarya.Aa...,1,388 AaryaAarya,AaryaAaryaAarya,41,AaryaAaryaAaryaAaryaAaryaAarya,10.0,1/15/2023,AaryaAaryaAarya,20:57:38
6,7,AaryaAaryaAaryaAarya AaryaAaryaAaryaAaryaAarya...,AaryaAaryaAaryaAaryaAaryaAaryaAaryaAarya,AaryaAaryaAaryaAaryaAarya://AaryaAaryaAarya.Aa...,30,2 AaryaAarya,AaryaAaryaAarya,33,AaryaAaryaAaryaAaryaAaryaAarya,10.0,1/30/2023,AaryaAaryaAarya,20:42:25
7,8,AaryaAaryaAaryaAaryaAaryaAarya AaryaAaryaAarya...,AaryaAaryaAaryaAaryaAaryaAaryaAaryaAaryaAaryaA...,AaryaAaryaAaryaAaryaAarya://AaryaAaryaAarya.Aa...,1,2 AaryaAarya,AaryaAaryaAarya,65,AaryaAaryaAaryaAaryaAaryaAarya,10.0,1/17/2023,AaryaAaryaAarya,11:51:15
8,9,AaryaAarya AaryaAaryaAaryaAarya AaryaAaryaAary...,AaryaAaryaAarya AaryaAaryaAaryaAaryaAaryaAarya...,AaryaAaryaAaryaAaryaAarya://AaryaAaryaAarya.Aa...,4,222 AaryaAarya,"AaryaAaryaAarya, AaryaAaryaAaryaAaryaAarya",24,AaryaAarya AaryaAaryaAaryaAaryaAarya,10.0,1/22/2023,AaryaAaryaAarya,14:27:44
9,10,AaryaAaryaAarya AaryaAarya AaryaAaryaAaryaAary...,AaryaAaryaAaryaAaryaAarya AaryaAaryaAaryaAarya...,AaryaAaryaAaryaAaryaAarya://AaryaAaryaAarya.Aa...,4,188 AaryaAarya,AaryaAaryaAarya,26,AaryaAaryaAaryaAaryaAaryaAarya,10.0,02-02-2023,AaryaAaryaAarya,15:14:56
10,11,AaryaAaryaAarya AaryaAaryaAaryaAarya AaryaAary...,AaryaAaryaAaryaAaryaAaryaAaryaAaryaAaryaAarya ...,AaryaAaryaAaryaAaryaAarya://AaryaAaryaAarya.Aa...,1,113 AaryaAarya,AaryaAaryaAarya,27,AaryaAaryaAaryaAaryaAaryaAarya,10.0,1/19/2023,AaryaAaryaAarya,17:39:19
11,12,AaryaAaryaAaryaAaryaAaryaAarya AaryaAaryaAarya...,AaryaAaryaAaryaAaryaAaryaAarya,AaryaAaryaAaryaAaryaAarya://AaryaAaryaAarya.Aa...,1,457 Aarya,AaryaAaryaAarya,54,AaryaAaryaAaryaAaryaAaryaAarya,10.0,01-10-2023,AaryaAaryaAarya,9:25:40
12,13,AaryaAaryaAaryaAaryaAaryaAaryaAaryaAaryaAaryaA...,AaryaAaryaAaryaAaryaAarya AaryaAaryaAaryaAarya...,AaryaAaryaAaryaAaryaAarya://AaryaAaryaAarya.Aa...,1,13 AaryaAarya,AaryaAaryaAarya,42,AaryaAaryaAaryaAaryaAaryaAarya,10.0,1/24/2023,AaryaAaryaAarya,12:37:51
13,14,AaryaAaryaAaryaAaryaAaryaAaryaAarya AaryaAarya...,AaryaAaryaAarya AaryaAaryaAaryaAaryaAaryaAarya...,AaryaAaryaAaryaAaryaAarya://AaryaAaryaAarya.Aa...,1,89 AaryaAarya,AaryaAaryaAarya,81,AaryaAaryaAaryaAaryaAaryaAarya,10.0,01-03-2023,AaryaAaryaAarya,14:48:54
14,15,AaryaAaryaAaryaAarya AaryaAaryaAaryaAaryaAarya...,AaryaAaryaAaryaAaryaAaryaAaryaAarya AaryaAarya...,AaryaAaryaAaryaAaryaAarya://AaryaAaryaAarya.Aa...,2,100 AaryaAarya,"AaryaAaryaAarya, AaryaAaryaAaryaAaryaAarya",32,AaryaAaryaAaryaAaryaAaryaAarya,8.2,1/28/2023,AaryaAaryaAarya,1:57:08
15,16,AaryaAaryaAarya AaryaAaryaAaryaAaryaAarya,AaryaAaryaAaryaAaryaAarya AaryaAaryaAaryaAarya...,AaryaAaryaAaryaAaryaAarya://AaryaAaryaAarya.Aa...,1,51 AaryaAarya,AaryaAaryaAarya,25,AaryaAaryaAaryaAaryaAaryaAarya,10.0,1/29/2023,AaryaAaryaAarya,4:39:39
16,17,AaryaAaryaAaryaAarya AaryaAaryaAaryaAarya Aary...,AaryaAaryaAaryaAaryaAaryaAaryaAaryaAaryaAarya ...,AaryaAaryaAaryaAaryaAarya://AaryaAaryaAarya.Aa...,2,13 AaryaAarya,AaryaAaryaAarya,61,AaryaAaryaAaryaAaryaAaryaAarya,10.0,01-12-2023,AaryaAaryaAarya,11:58:57
17,18,AaryaAaryaAaryaAaryaAaryaAaryaAarya AaryaAarya...,AaryaAaryaAaryaAaryaAaryaAaryaAarya AaryaAarya...,AaryaAaryaAaryaAaryaAarya://AaryaAaryaAarya.Aa...,1,287 AaryaAarya,AaryaAaryaAarya,94,AaryaAaryaAaryaAaryaAaryaAarya,10.0,01-02-2023,AaryaAaryaAarya,13:47:15
18,19,AaryaAaryaAaryaAarya AaryaAaryaAaryaAaryaAarya...,AaryaAaryaAarya AaryaAaryaAaryaAaryaAaryaAarya...,AaryaAaryaAaryaAaryaAarya://AaryaAaryaAarya.Aa...,2,4 AaryaAarya,AaryaAaryaAarya,47,AaryaAaryaAaryaAaryaAaryaAarya,9.4,1/22/2023,AaryaAaryaAarya,3:39:31
19,20,??AaryaAaryaAaryaAaryaAaryaAaryaAarya AaryaAar...,AaryaAaryaAarya AaryaAaryaAaryaAaryaAarya,AaryaAaryaAaryaAaryaAarya://AaryaAaryaAarya.Aa...,1,3 AaryaAarya,AaryaAaryaAarya,38,AaryaAaryaAaryaAaryaAaryaAarya,10.0,1/23/2023,AaryaAaryaAarya,0:44:28

In [67]:
csv3.replace({"Dataset_name":"[a-zA-Z]"}, "replaced_name", regex=True)

,Unnamed: 0,Dataset_name,Author_name,Author_id,No_of_files,size,Type_of_file,Upvotes,Medals,Usability,Date,Day,Time
0,0,replaced_namereplaced_namereplaced_namereplace...,Ahsan Raza,https://www.kaggle.com/ahsan81,1,491 kB,CSV,315,Silver,10.0,01-04-2023,Wed,18:20:31
1,2,replaced_namereplaced_namereplaced_namereplace...,Mrityunjay Pathak,https://www.kaggle.com/themrityunjaypathak,1,29 kB,CSV,76,Bronze,10.0,1/21/2023,Sat,20:12:05
2,3,replaced_namereplaced_namereplaced_namereplace...,Nitish Sharma01,https://www.kaggle.com/nitishsharma01,3,5 MB,CSV,30,Bronze,10.0,02-01-2023,Wed,14:30:49
3,4,replaced_namereplaced_namereplaced_namereplace...,The Devastator,https://www.kaggle.com/thedevastator,2,19 kB,CSV,37,Bronze,10.0,1/25/2023,Wed,6:30:14
4,5,replaced_namereplaced_namereplaced_namereplace...,Senapati Rajesh,https://www.kaggle.com/senapatirajesh,1,1 MB,CSV,94,Bronze,9.4,1/14/2023,Sat,22:33:12
5,6,replaced_namereplaced_namereplaced_namereplace...,The Devastator,https://www.kaggle.com/thedevastator,1,388 kB,CSV,41,Bronze,10.0,1/15/2023,Sun,20:57:38
6,7,replaced_namereplaced_namereplaced_namereplace...,Abdullah,https://www.kaggle.com/kane6543,30,2 MB,CSV,33,Bronze,10.0,1/30/2023,Mon,20:42:25
7,8,replaced_namereplaced_namereplaced_namereplace...,KARKAVELRAJA J,https://www.kaggle.com/karkavelrajaj,1,2 MB,CSV,65,Bronze,10.0,1/17/2023,Tue,11:51:15
8,9,replaced_namereplaced_name replaced_namereplac...,The Devastator,https://www.kaggle.com/thedevastator,4,222 kB,"CSV, other",24,No Medal,10.0,1/22/2023,Sun,14:27:44
9,10,replaced_namereplaced_namereplaced_name replac...,Widya Salim,https://www.kaggle.com/salimwid,4,188 kB,CSV,26,Bronze,10.0,02-02-2023,Thu,15:14:56
10,11,replaced_namereplaced_namereplaced_name replac...,Tymoteusz Urban,https://www.kaggle.com/tymekurban,1,113 kB,CSV,27,Bronze,10.0,1/19/2023,Thu,17:39:19
11,12,replaced_namereplaced_namereplaced_namereplace...,Allena,https://www.kaggle.com/abhishek14398,1,457 B,CSV,54,Bronze,10.0,01-10-2023,Tue,9:25:40
12,13,replaced_namereplaced_namereplaced_namereplace...,Widya Salim,https://www.kaggle.com/salimwid,1,13 kB,CSV,42,Bronze,10.0,1/24/2023,Tue,12:37:51
13,14,replaced_namereplaced_namereplaced_namereplace...,The Devastator,https://www.kaggle.com/thedevastator,1,89 kB,CSV,81,Bronze,10.0,01-03-2023,Tue,14:48:54
14,15,replaced_namereplaced_namereplaced_namereplace...,Rhugved Bhojane,https://www.kaggle.com/rhugvedbhojane,2,100 kB,"CSV, other",32,Bronze,8.2,1/28/2023,Sat,1:57:08
15,16,replaced_namereplaced_namereplaced_name replac...,Karim Abdulnabi,https://www.kaggle.com/karimabdulnabi,1,51 kB,CSV,25,Bronze,10.0,1/29/2023,Sun,4:39:39
16,17,replaced_namereplaced_namereplaced_namereplace...,Rushikesh Konapure,https://www.kaggle.com/rishikeshkonapure,2,13 kB,CSV,61,Bronze,10.0,01-12-2023,Thu,11:58:57
17,18,replaced_namereplaced_namereplaced_namereplace...,Rakkesh Aravind G,https://www.kaggle.com/rakkesharv,1,287 kB,CSV,94,Bronze,10.0,01-02-2023,Mon,13:47:15
18,19,replaced_namereplaced_namereplaced_namereplace...,The Devastator,https://www.kaggle.com/thedevastator,2,4 kB,CSV,47,Bronze,9.4,1/22/2023,Sun,3:39:31
19,20,??replaced_namereplaced_namereplaced_namerepla...,yan maksi,https://www.kaggle.com/yanmaksi,1,3 MB,CSV,38,Bronze,10.0,1/23/2023,Mon,0:44:28

In [70]:
csv3.replace("Olympics 124 years Dataset(till 2020)",method="ffill")

C:\Users\91988\AppData\Local\Temp\ipykernel_7940\232908736.py:1: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  csv3.replace("Olympics 124 years Dataset(till 2020)",method="ffill")

,Unnamed: 0,Dataset_name,Author_name,Author_id,No_of_files,size,Type_of_file,Upvotes,Medals,Usability,Date,Day,Time
0,0,Hotel Reservations Dataset,Ahsan Raza,https://www.kaggle.com/ahsan81,1,491 kB,CSV,315,Silver,10.0,01-04-2023,Wed,18:20:31
1,2,Most Subscribed 1000 Youtube Channels,Mrityunjay Pathak,https://www.kaggle.com/themrityunjaypathak,1,29 kB,CSV,76,Bronze,10.0,1/21/2023,Sat,20:12:05
2,3,Most Subscribed 1000 Youtube Channels,Nitish Sharma01,https://www.kaggle.com/nitishsharma01,3,5 MB,CSV,30,Bronze,10.0,02-01-2023,Wed,14:30:49
3,4,Medical Student Mental Health,The Devastator,https://www.kaggle.com/thedevastator,2,19 kB,CSV,37,Bronze,10.0,1/25/2023,Wed,6:30:14
4,5,Latest Netflix TV shows and movies,Senapati Rajesh,https://www.kaggle.com/senapatirajesh,1,1 MB,CSV,94,Bronze,9.4,1/14/2023,Sat,22:33:12
5,6,Predicting Credit Card Customer Segmentation,The Devastator,https://www.kaggle.com/thedevastator,1,388 kB,CSV,41,Bronze,10.0,1/15/2023,Sun,20:57:38
6,7,Most Watched Stocks of Past Decade(2013-2023),Abdullah,https://www.kaggle.com/kane6543,30,2 MB,CSV,33,Bronze,10.0,1/30/2023,Mon,20:42:25
7,8,Amazon Sales Dataset,KARKAVELRAJA J,https://www.kaggle.com/karkavelrajaj,1,2 MB,CSV,65,Bronze,10.0,1/17/2023,Tue,11:51:15
8,9,US Film Industry Top Movies & Directors,The Devastator,https://www.kaggle.com/thedevastator,4,222 kB,"CSV, other",24,No Medal,10.0,1/22/2023,Sun,14:27:44
9,10,CEO vs Worker Pay in Top 3000 US Companies [2023],Widya Salim,https://www.kaggle.com/salimwid,4,188 kB,CSV,26,Bronze,10.0,02-02-2023,Thu,15:14:56
10,11,New Cars USA 2022/23 dataset,Tymoteusz Urban,https://www.kaggle.com/tymekurban,1,113 kB,CSV,27,Bronze,10.0,1/19/2023,Thu,17:39:19
11,12,Salary Dataset - Simple linear regression,Allena,https://www.kaggle.com/abhishek14398,1,457 B,CSV,54,Bronze,10.0,01-10-2023,Tue,9:25:40
12,13,Technology Company Layoffs (2022-2023),Widya Salim,https://www.kaggle.com/salimwid,1,13 kB,CSV,42,Bronze,10.0,1/24/2023,Tue,12:37:51
13,14,Predict students' dropout and academic success,The Devastator,https://www.kaggle.com/thedevastator,1,89 kB,CSV,81,Bronze,10.0,01-03-2023,Tue,14:48:54
14,15,FIFA World Cup 2022 Players Statistics,Rhugved Bhojane,https://www.kaggle.com/rhugvedbhojane,2,100 kB,"CSV, other",32,Bronze,8.2,1/28/2023,Sat,1:57:08
15,16,Car Price,Karim Abdulnabi,https://www.kaggle.com/karimabdulnabi,1,51 kB,CSV,25,Bronze,10.0,1/29/2023,Sun,4:39:39
16,17,Home Loan Approval,Rushikesh Konapure,https://www.kaggle.com/rishikeshkonapure,2,13 kB,CSV,61,Bronze,10.0,01-12-2023,Thu,11:58:57
17,18,Spotify Top 10000 Streamed Songs,Rakkesh Aravind G,https://www.kaggle.com/rakkesharv,1,287 kB,CSV,94,Bronze,10.0,01-02-2023,Mon,13:47:15
18,19,Dogs Intelligence and Size,The Devastator,https://www.kaggle.com/thedevastator,2,4 kB,CSV,47,Bronze,9.4,1/22/2023,Sun,3:39:31
19,20,??Startup Success/Fail Dataset from Crunchbase,yan maksi,https://www.kaggle.com/yanmaksi,1,3 MB,CSV,38,Bronze,10.0,1/23/2023,Mon,0:44:28

In [73]:
csv3.replace(1,method="ffill")

C:\Users\91988\AppData\Local\Temp\ipykernel_7940\3959853191.py:1: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  csv3.replace(1,method="ffill")

,Unnamed: 0,Dataset_name,Author_name,Author_id,No_of_files,size,Type_of_file,Upvotes,Medals,Usability,Date,Day,Time
0,0,Hotel Reservations Dataset,Ahsan Raza,https://www.kaggle.com/ahsan81,1,491 kB,CSV,315,Silver,10.0,01-04-2023,Wed,18:20:31
1,2,Most Subscribed 1000 Youtube Channels,Mrityunjay Pathak,https://www.kaggle.com/themrityunjaypathak,1,29 kB,CSV,76,Bronze,10.0,1/21/2023,Sat,20:12:05
2,3,Olympics 124 years Dataset(till 2020),Nitish Sharma01,https://www.kaggle.com/nitishsharma01,3,5 MB,CSV,30,Bronze,10.0,02-01-2023,Wed,14:30:49
3,4,Medical Student Mental Health,The Devastator,https://www.kaggle.com/thedevastator,2,19 kB,CSV,37,Bronze,10.0,1/25/2023,Wed,6:30:14
4,5,Latest Netflix TV shows and movies,Senapati Rajesh,https://www.kaggle.com/senapatirajesh,2,1 MB,CSV,94,Bronze,9.4,1/14/2023,Sat,22:33:12
5,6,Predicting Credit Card Customer Segmentation,The Devastator,https://www.kaggle.com/thedevastator,2,388 kB,CSV,41,Bronze,10.0,1/15/2023,Sun,20:57:38
6,7,Most Watched Stocks of Past Decade(2013-2023),Abdullah,https://www.kaggle.com/kane6543,30,2 MB,CSV,33,Bronze,10.0,1/30/2023,Mon,20:42:25
7,8,Amazon Sales Dataset,KARKAVELRAJA J,https://www.kaggle.com/karkavelrajaj,30,2 MB,CSV,65,Bronze,10.0,1/17/2023,Tue,11:51:15
8,9,US Film Industry Top Movies & Directors,The Devastator,https://www.kaggle.com/thedevastator,4,222 kB,"CSV, other",24,No Medal,10.0,1/22/2023,Sun,14:27:44
9,10,CEO vs Worker Pay in Top 3000 US Companies [2023],Widya Salim,https://www.kaggle.com/salimwid,4,188 kB,CSV,26,Bronze,10.0,02-02-2023,Thu,15:14:56
10,11,New Cars USA 2022/23 dataset,Tymoteusz Urban,https://www.kaggle.com/tymekurban,4,113 kB,CSV,27,Bronze,10.0,1/19/2023,Thu,17:39:19
11,12,Salary Dataset - Simple linear regression,Allena,https://www.kaggle.com/abhishek14398,4,457 B,CSV,54,Bronze,10.0,01-10-2023,Tue,9:25:40
12,13,Technology Company Layoffs (2022-2023),Widya Salim,https://www.kaggle.com/salimwid,4,13 kB,CSV,42,Bronze,10.0,1/24/2023,Tue,12:37:51
13,14,Predict students' dropout and academic success,The Devastator,https://www.kaggle.com/thedevastator,4,89 kB,CSV,81,Bronze,10.0,01-03-2023,Tue,14:48:54
14,15,FIFA World Cup 2022 Players Statistics,Rhugved Bhojane,https://www.kaggle.com/rhugvedbhojane,2,100 kB,"CSV, other",32,Bronze,8.2,1/28/2023,Sat,1:57:08
15,16,Car Price,Karim Abdulnabi,https://www.kaggle.com/karimabdulnabi,2,51 kB,CSV,25,Bronze,10.0,1/29/2023,Sun,4:39:39
16,17,Home Loan Approval,Rushikesh Konapure,https://www.kaggle.com/rishikeshkonapure,2,13 kB,CSV,61,Bronze,10.0,01-12-2023,Thu,11:58:57
17,18,Spotify Top 10000 Streamed Songs,Rakkesh Aravind G,https://www.kaggle.com/rakkesharv,2,287 kB,CSV,94,Bronze,10.0,01-02-2023,Mon,13:47:15
18,19,Dogs Intelligence and Size,The Devastator,https://www.kaggle.com/thedevastator,2,4 kB,CSV,47,Bronze,9.4,1/22/2023,Sun,3:39:31
19,20,??Startup Success/Fail Dataset from Crunchbase,yan maksi,https://www.kaggle.com/yanmaksi,2,3 MB,CSV,38,Bronze,10.0,1/23/2023,Mon,0:44:28

In [92]:
csv4 = pd.read_csv("C:\\Users\\91988\\Downloads\\kaggle-preprocessed - Copy.csv", encoding='ISO-8859-1')
csv4

,Unnamed: 0,Dataset_name,Author_name,Author_id,No_of_files,size,Type_of_file,Upvotes,Medals,Usability,Date,Day,Time
0,0,Hotel Reservations Dataset,Ahsan Raza,NaN,1.0,491 kB,CSV,315.0,Silver,10.0,01-04-2023,Wed,18:20:31
1,2,Most Subscribed 1000 Youtube Channels,Mrityunjay Pathak,https://www.kaggle.com/themrityunjaypathak,1.0,29 kB,CSV,76.0,Bronze,10.0,1/21/2023,Sat,NaN
2,3,Olympics 124 years Dataset(till 2020),Nitish Sharma01,https://www.kaggle.com/nitishsharma01,3.0,5 MB,NaN,NaN,Bronze,10.0,02-01-2023,Wed,14:30:49
3,4,Medical Student Mental Health,The Devastator,https://www.kaggle.com/thedevastator,NaN,19 kB,NaN,37.0,Bronze,10.0,1/25/2023,Wed,6:30:14
4,5,Latest Netflix TV shows and movies,Senapati Rajesh,NaN,NaN,1 MB,NaN,94.0,Bronze,9.4,1/14/2023,Sat,22:33:12
5,6,Predicting Credit Card Customer Segmentation,The Devastator,https://www.kaggle.com/thedevastator,NaN,388 kB,NaN,41.0,Bronze,10.0,1/15/2023,Sun,20:57:38
6,7,Most Watched Stocks of Past Decade(2013-2023),Abdullah,https://www.kaggle.com/kane6543,30.0,2 MB,NaN,33.0,Bronze,10.0,NaN,Mon,20:42:25
7,8,Amazon Sales Dataset,KARKAVELRAJA J,https://www.kaggle.com/karkavelrajaj,1.0,2 MB,CSV,65.0,Bronze,10.0,1/17/2023,Tue,11:51:15

In [93]:
csv4.interpolate() # Doesn't work on alphabets #linearly data filling

C:\Users\91988\AppData\Local\Temp\ipykernel_7940\3143742789.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  csv4.interpolate() # Doesn't work on alphabets

,Unnamed: 0,Dataset_name,Author_name,Author_id,No_of_files,size,Type_of_file,Upvotes,Medals,Usability,Date,Day,Time
0,0,Hotel Reservations Dataset,Ahsan Raza,NaN,1.00,491 kB,CSV,315.0,Silver,10.0,01-04-2023,Wed,18:20:31
1,2,Most Subscribed 1000 Youtube Channels,Mrityunjay Pathak,https://www.kaggle.com/themrityunjaypathak,1.00,29 kB,CSV,76.0,Bronze,10.0,1/21/2023,Sat,NaN
2,3,Olympics 124 years Dataset(till 2020),Nitish Sharma01,https://www.kaggle.com/nitishsharma01,3.00,5 MB,NaN,56.5,Bronze,10.0,02-01-2023,Wed,14:30:49
3,4,Medical Student Mental Health,The Devastator,https://www.kaggle.com/thedevastator,9.75,19 kB,NaN,37.0,Bronze,10.0,1/25/2023,Wed,6:30:14
4,5,Latest Netflix TV shows and movies,Senapati Rajesh,NaN,16.50,1 MB,NaN,94.0,Bronze,9.4,1/14/2023,Sat,22:33:12
5,6,Predicting Credit Card Customer Segmentation,The Devastator,https://www.kaggle.com/thedevastator,23.25,388 kB,NaN,41.0,Bronze,10.0,1/15/2023,Sun,20:57:38
6,7,Most Watched Stocks of Past Decade(2013-2023),Abdullah,https://www.kaggle.com/kane6543,30.00,2 MB,NaN,33.0,Bronze,10.0,NaN,Mon,20:42:25
7,8,Amazon Sales Dataset,KARKAVELRAJA J,https://www.kaggle.com/karkavelrajaj,1.00,2 MB,CSV,65.0,Bronze,10.0,1/17/2023,Tue,11:51:15

In [95]:
csv4.interpolate(method="linear", axis = 0) # for rows, the data type of whole numerica data in sheet should be same

C:\Users\91988\AppData\Local\Temp\ipykernel_7940\1923826410.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  csv4.interpolate(method="linear", axis = 0)

,Unnamed: 0,Dataset_name,Author_name,Author_id,No_of_files,size,Type_of_file,Upvotes,Medals,Usability,Date,Day,Time
0,0,Hotel Reservations Dataset,Ahsan Raza,NaN,1.00,491 kB,CSV,315.0,Silver,10.0,01-04-2023,Wed,18:20:31
1,2,Most Subscribed 1000 Youtube Channels,Mrityunjay Pathak,https://www.kaggle.com/themrityunjaypathak,1.00,29 kB,CSV,76.0,Bronze,10.0,1/21/2023,Sat,NaN
2,3,Olympics 124 years Dataset(till 2020),Nitish Sharma01,https://www.kaggle.com/nitishsharma01,3.00,5 MB,NaN,56.5,Bronze,10.0,02-01-2023,Wed,14:30:49
3,4,Medical Student Mental Health,The Devastator,https://www.kaggle.com/thedevastator,9.75,19 kB,NaN,37.0,Bronze,10.0,1/25/2023,Wed,6:30:14
4,5,Latest Netflix TV shows and movies,Senapati Rajesh,NaN,16.50,1 MB,NaN,94.0,Bronze,9.4,1/14/2023,Sat,22:33:12
5,6,Predicting Credit Card Customer Segmentation,The Devastator,https://www.kaggle.com/thedevastator,23.25,388 kB,NaN,41.0,Bronze,10.0,1/15/2023,Sun,20:57:38
6,7,Most Watched Stocks of Past Decade(2013-2023),Abdullah,https://www.kaggle.com/kane6543,30.00,2 MB,NaN,33.0,Bronze,10.0,NaN,Mon,20:42:25
7,8,Amazon Sales Dataset,KARKAVELRAJA J,https://www.kaggle.com/karkavelrajaj,1.00,2 MB,CSV,65.0,Bronze,10.0,1/17/2023,Tue,11:51:15

In [96]:
csv4.interpolate(limit_direction='forward', limit = 2)

C:\Users\91988\AppData\Local\Temp\ipykernel_7940\4266787438.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  csv4.interpolate(limit_direction='forward', limit = 2)

,Unnamed: 0,Dataset_name,Author_name,Author_id,No_of_files,size,Type_of_file,Upvotes,Medals,Usability,Date,Day,Time
0,0,Hotel Reservations Dataset,Ahsan Raza,NaN,1.00,491 kB,CSV,315.0,Silver,10.0,01-04-2023,Wed,18:20:31
1,2,Most Subscribed 1000 Youtube Channels,Mrityunjay Pathak,https://www.kaggle.com/themrityunjaypathak,1.00,29 kB,CSV,76.0,Bronze,10.0,1/21/2023,Sat,NaN
2,3,Olympics 124 years Dataset(till 2020),Nitish Sharma01,https://www.kaggle.com/nitishsharma01,3.00,5 MB,NaN,56.5,Bronze,10.0,02-01-2023,Wed,14:30:49
3,4,Medical Student Mental Health,The Devastator,https://www.kaggle.com/thedevastator,9.75,19 kB,NaN,37.0,Bronze,10.0,1/25/2023,Wed,6:30:14
4,5,Latest Netflix TV shows and movies,Senapati Rajesh,NaN,16.50,1 MB,NaN,94.0,Bronze,9.4,1/14/2023,Sat,22:33:12
5,6,Predicting Credit Card Customer Segmentation,The Devastator,https://www.kaggle.com/thedevastator,NaN,388 kB,NaN,41.0,Bronze,10.0,1/15/2023,Sun,20:57:38
6,7,Most Watched Stocks of Past Decade(2013-2023),Abdullah,https://www.kaggle.com/kane6543,30.00,2 MB,NaN,33.0,Bronze,10.0,NaN,Mon,20:42:25
7,8,Amazon Sales Dataset,KARKAVELRAJA J,https://www.kaggle.com/karkavelrajaj,1.00,2 MB,CSV,65.0,Bronze,10.0,1/17/2023,Tue,11:51:15